 <div class="panel panel-customGreen">
 	<div class="panel-heading">
 		<h3 class="panel-title">{{title}}</h3>
 	</div>

 	<div class="panel-body timeLineContainer" style="overflow-y: auto; height: 430px;">
 		<div class="dark">
 			<div class="timeline">

 				<div class="timeslot">

 					<div class="task">
 						<span>
 							<span class="details">
 								Action 1
 							</span>
 							<span>
 								control in
 								<span class="remaining">
 									14 days
 								</span>
 							</span>
 						</span>
 						<div class="arrow"></div>
 					</div>

 					<div class="icon" style="color: white">
 						<i class="fa fa-map-marker"></i>
 					</div>

 					<div class="time">
 						20.05.2015
 					</div>
 				</div>

 				<div class="clearfix"></div>

 				<div class="timeslot alt">

 					<div class="task">
 						<span>
 							<span class="details">
 								Action 2
 							</span>
 							<span>
 								control checkpoint in
 								<span class="remaining">
 									5 days
 								</span>
 							</span>
 						</span>
 						<div class="arrow"></div>
 					</div>
 					<div class="icon">
 						<i class="fa fa-map-marker"></i>
 					</div>
 					<div class="time">
 						25.05.2015
 					</div>

 				</div>

 				<div class="timeslot">

 					<div class="task">
 						<span>
 							<span class="details">
 								Control checkpoint
 							</span>
 						</span>
 						<div class="arrow"></div>
 					</div>
 					<div class="icon">
 						<i class="fa fa-map-marker"></i>
 					</div>
 					<div class="time">
 						05.06.2015
 					</div>
 				</div>


 				<div class="timeslot">

 					<div class="task">
 						<span>
 							<span class="details">
 								Action 3
 							</span>
 							<span>
 								control in
 								<span class="remaining">
 									30 days
 								</span>
 							</span>
 						</span>
 						<div class="arrow"></div>
 					</div>
 					<div class="icon" style="color: white">
 						<i class="fa fa-map-marker"></i>
 					</div>
 					<div class="time">
 						05.06.2015
 					</div>
 				</div>

 				<div class="clearfix"></div>

 				<div class="timeslot alt">

 					<div class="task">
 						<span>
 							<span class="details">
 								Action 4
 							</span>
 							<span>
 								control checkpoint in
 								<span class="remaining">
 									5 days
 								</span>
 							</span>
 						</span>
 						<div class="arrow"></div>
 					</div>
 					<div class="icon">
 						<i class="fa fa-map-marker"></i>
 					</div>
 					<div class="time">
 						15.06.2015
 					</div>
 				</div>

 				<div class="timeslot">

 					<div class="task">
 						<span>
 							<span class="details">
 								Control checkpoint
 							</span>
 						</span>
 						<div class="arrow"></div>
 					</div>
 					<div class="icon">
 						<i class="fa fa-map-marker"></i>
 					</div>
 					<div class="time">
 						12.07.2015
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>

 </div>