<nav class="navbar-alt navbar-inverse navbar-second-top">
  <div class="energy-container">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav nav-pills">
        <li{% if active_tab == 'home' %} class="active"{% endif %}><a href="{% url 'index' %}">Home</a></li>
        <li{% if active_tab == 'chart' %} class="active"{% endif %}><a href="{% url 'chart_index' %}">Energy Chart</a></li>
        <li{% if active_tab == 'admin' %} class="active"{% endif %}><a href="{% url 'index' %}">Administration</a></li>
      </ul>
    </div>
  </div>
</nav>
