<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Energy</title>
    
    <!-- HTML5 mode urls -->
    <base href="/" />

    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/notosanssc.css" />
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- app style -->
    <link rel="stylesheet" href="/static/css/app.min.css" />
</head>
<body>

    <!-- Views will load here -->
    <div ui-view></div>

    


    <!-- Compiled script -->
    <script src="/static/js/vendor.min.js" type="text/javascript"></script>
    <script src="/static/js/app.min.js" type="text/javascript"></script>

    <!-- baidu map -->
    <script src="http://api.map.baidu.com/api?v=2.0&ak=KRNQDv3desnEOULRaeOsmyvI"></script>

</body>
</html>