


<div class="row">

	<div class="col-lg-7">
		<div id="allmap"></div>
	</div>

	<div class="col-lg-5">

		<div class="greyBorder news">
			<div id="carousel-example-vertical" class="carousel vertical slide"
			data-ride="carousel"
			data-interval="5000">
				<div class="carousel-inner" role="listbox">
					
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-5">

        <div class="table-div indexPageLeftChart">
					

		</div>
	</div>
</div>



<div class="row paddingTop10">

	<div class="col-lg-7">
        <div class="greyBorder" style=" height: 280px; margin-bottom: 10px;">
			<div class="row">
				<div class="col-lg-3">
					<h3>节能信息</h3>
					<img src="https://images.mint.com/i/advice/large/investment2.png" alt="Advice Icon" id="yui_3_2_0pr1_1_14390866533802013">
				</div>
				<div class="col-lg-8">

					<h1>调整新风需量控制</h1>
					<div class="">
						在过渡季节及冬季，可以通过室外焓值比对送风设置点，当时外温湿度达到直接送风条件时，关闭汇丰闸门，全开新风阀门，形成新风模式。而开启全新风模式后，混风点温度将低于设定温度，因此将
						冷冻水二通阀门逐渐关小，冷冻水泵主机卸载，从而达到省能效果。
					</div>

					<div>
						<p id="advice-count">查看更多节能建议</p>
						<p class="nav">
							<a class="previous" id="previousbutton" href="javascript://">上一个</a>
							<a class="next" id="nextbutton" href="javascript://">下一个</a>
						</p>
					</div>

				</div>
			</div>
		</div>
	</div>


	<div class="col-lg-5">
        <div id="barchart" class="greyBorder">
			<div id="chart1" class="chartContainer" style="min-width: 310px; max-width: 800px; height: 286px; margin: 0 auto"></div>
		</div>
	</div>

</div>