<div class="row reports">

    <div class="col-md-2 settings-sidebar" style="margin: 0;">
        <div class="panel panel-small" style="height: 100%; position: absolute; left: 15px; right: 15px;">
            <div class="panel-body aside-left-content">
                <span class="fa fa-globe" style="margin-left: 6px;"></span> <strong>Portfolio</strong>
                <div id="graph-tree"></div>
            </div>
        </div>
    </div>

    <div class="col-md-10 content" style="padding-top: 15px; margin-right: 15px;">
        <div class="panel panel-embedded">
            <div class="panel-heading">Editor</div>
            <div class="panel-body">
                <div class="center-content">
                    <div id="editor"></div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="col-md-2 rightbar">
        <div class="panel panel-small" style="height: 100%;position: absolute; left:15px; right: 15px;">
            <div class="panel-body aside-right-content">
            </div>
        </div>
    </div>-->

</div>