<div class="col-lg-12">
    <h1 style="color:#3A8848"><strong>{{title}}</strong></h1>
    <h5 class="subHeader">{{subtitle}}</h5>
</div>

<div class="col-lg-6 col-md-6">
    <!--<div class="panel panel-embedded">
        <div class="panel-heading">能耗分解</div>
        <div class="panel-body">-->
            <div id="graph1"></div>
        <!--</div>
    </div>-->
</div>
<div class="col-lg-6 col-md-6" id="caption1" >
    <div class="panel panel-embedded">
        <div class="panel-heading">用能系统概况</div>
        <div class="panel-body">

            浦东盛高假日酒店的能源消耗种类包括电、天然气、水三类。 其中电：主要用于空调、照明、动力、办公、客房设备等用电，空调用电主要包括冷水机组用电、冷热水泵用电、空调末端用电等。动力主要包括电梯、给排水设备、通风机等用电
            浦东盛高假日酒店冷源设备为4台约克冷水机组，位于地下室冷冻机房，单台制冷量约为1758 kW

        </div>
    </div>
</div>

