<div class="col-lg-12">
    <h1 style="color:#3A8848"><strong>{{title}}</strong></h1>
    <h5 class="subHeader">{{subtitle}}</h5>
</div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-indicator panel-blue boxesTop">
            <div class="panel-heading text-right">
                <i class="fa fa-plug fa-3vmax pa pa-left"></i>
                <div class="huge" id="monthly-total">---</div>
                <div class="desc">当月总用电量 (kWh)</div>
            </div>
            <a href="#">
                <div class="panel-footer ">
                    <span class="pull-left">查看详情</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-indicator panel-light-blue boxesTop">
            <div class="panel-heading text-right">
                <i class="fa fa-random fa-3vmax pa pa-left"></i>
                <div class="huge" id="compare-last-month">---</div>
                <div class="desc">上月同期比较</div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">查看详情</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-indicator panel-yellow boxesTop">
            <div class="panel-heading text-right">
                <i class="fa fa-line-chart fa-3vmax pa pa-left"></i>
                <div class="huge" id="last-month-per-m">---</div>
                <div class="desc">综合能耗指标</div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">查看详情</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-indicator panel-red boxesTop">
            <div class="panel-heading text-right">
                <i class="fa fa-credit-card fa-3vmax pa pa-left"></i>
                <div class="huge" id="last-month-peak">---</div>
                <div class="desc">高峰用电百分比(上个月)</div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">查看详情</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>


    
   <div class="col-lg-4 col-md-12">
       <!--<img src="http://blog.rmi.org/Content/Images/officebuilding.jpg" alt="Office Building" width="325" height="217" align="left" style="padding-top: 3px; padding-right: 10px; padding-bottom: 10px;">-->
       <div class="panel panel-embedded">
           <div class="panel-heading">总体能耗</div>
           <div class="panel-body">

               <!-- <div id="areaChart1"></div> -->
               <div id="donutGraph1"></div>

               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                   <h4 class="center">
                       昨日总用电量
                   </h4>
                   <h5 class="center" id="yesterday-energy"> 12035 kWh </h5>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                   <h4 class="center">
                       工作日平均用电量
                   </h4>
                   <h5 class="center" id="average-energy"> 15324 kWh </h5>
               </div>

           </div>
       </div>
    </div>
    <div class="col-lg-4 col-md-12">
    <div class="panel panel-embedded">
         <div class="panel-heading">总体能耗</div>
           <div class="panel-body">
                <div id="donutGraph2"></div>

               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                   <h4 class="center">
                       昨日高峰总用电量
                   </h4>
                   <h5 class="center" id="yesterday-peak"> 12035 kWh </h5>
               </div>
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                   <h4 class="center">
                       工作日高峰用电量
                   </h4>
                   <h5 class="center"  id="average-peak"> 15324 kWh </h5>
               </div>  
            </div>
            </div>    
            </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="panel panel-embedded">
            <div class="panel-heading">楼宇概况</div>
            <div class="panel-body">
                上海浦东盛高假日酒店位于上海市浦东新区秀沿路1088号，项目建设单位是上海康桥半岛（集团）有限公司，设计单位是上海中森建筑与工程设计顾问有限公司。该建筑于2011年4月年开业，总建筑面积为69901.19m2，总空调面积约为30000m2。建筑共有25层，其中地下1层，地上24层。主要功能是住宿和餐饮，另设有会议室、游泳池、地下车库等功能分区，酒店现有客房386间套。客房入住率约为75%。
            </div>
        </div>
    </div>
