
<div class="reports configuration">
    <div class="content">

        <div class="col-lg-12">
            <h1 style="color:#3A8848"><strong>{{title}}</strong></h1>
            <h5 class="subHeader" style="border: none; font-size: 22px; color: #808080">{{subtitle}}</h5>
        </div>

        <div class="col-lg-12">


            <div class="iflex-row">

                <div class="panel panel-embedded panel-light iflex-resize">

                    <div class="panel-heading">
                        <h3 class="panel-title color_light_orange">
                            <i class="fa fa-plug"></i>Lighting
                        </h3>

                        <div class="switch-container pull-right">
                            <ul>
                                <li>
                                    <input id="checkbox1" type="checkbox" hidden="hidden" />
                                    <label for="checkbox1" class="switch"></label>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="panel-body recommendation-footer">

                        <div class="inner">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="input1" class="col-sm-6 control-label">Label 1</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="input1" placeholder="Input 1">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input2" class="col-sm-6 control-label">Label 2</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="input2" placeholder="Input 2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input3" class="col-sm-6 control-label">Label 3</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="input3" placeholder="Input 3">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input4" class="col-sm-6 control-label">Label 4</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="input4" placeholder="Input 4">
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>


                <div class="panel panel-embedded panel-light iflex-resize">

                    <div class="panel-heading">
                        <h3 class="panel-title color_dark_orange">
                            <i class="fa fa-lightbulb-o"></i>HVAC
                        </h3>
                        <div class="switch-container pull-right">
                            <ul>
                                <li>
                                    <input id="checkbox2" type="checkbox" hidden="hidden" />
                                    <label for="checkbox2" class="switch"></label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body recommendation-footer">

                        <div class="inner">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="input1" class="col-sm-6 control-label">Label 1</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="input1" placeholder="Input 1">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input2" class="col-sm-6 control-label">Label 2</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="input2" placeholder="Input 2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input3" class="col-sm-6 control-label">Label 3</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="input3" placeholder="Input 3">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input4" class="col-sm-6 control-label">Label 4</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="input4" placeholder="Input 4">
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>


            </div>


        </div>
    </div>
</div>
