<div class="col-lg-12">
    <h1 style="color:#3A8848"><strong>{{title}}</strong></h1>
    <h5 class="subHeader">{{subtitle}}</h5>
</div>

	<div class="col-lg-12" id="graph1"></div>
	<div class="col-lg-12" id="graph2"></div>

