

    <div class="panel panel-small">
        <div class="panel-heading"><i class="fa fa-building"></i>选择您要查看楼宇</div>
        <div class="panel-body">

            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select property <span class="caret"></span>
            </button>
            <ul class="dropdown-menu woBorderDropdown">
                <li><a href="#">Loading...</a></li>
            </ul>
            <!--<select class="woBorderDropdown">
                <option style="text-decoration:underline;">building 1</option>
                <option>building 2</option>
                <option>building 3</option>
            </select>-->
        </div>
    </div>

    <nav class="settings-menu">
        <ul class="list-group"></ul>
    </nav>

